In [2]:
metallica <- c('Lars', 'James', 'Jason', 'Kirk')

In [4]:
metallica <- metallica[metallica != 'Jason']

In [7]:
metallica = c(metallica, 'Rob')

In [10]:
library('DSUR.noof')

In [11]:
library(DSUR.noof)

In [14]:
metallicaNames = c('Lars',  'James', 'Kirk', 'Rob')
metallicaAges = c(47, 47, 48, 46)

In [17]:
metallica = data.frame(Name = metallicaNames, Age = metallicaAges)

In [21]:
metallica$Age

[1] 47 47 48 46

In [22]:
metallica$childAge = c(12, 12, 4, 6)

In [27]:
names(metallica)

[1] "Name"     "Age"      "childAge"

In [28]:
metallica = list(metallicaNames, metallicaAges)

In [29]:
metallica

[[1]]
[1] "Lars"  "James" "Kirk"  "Rob"

[[2]]
[1] 47 47 48 46

In [30]:
metallica = cbind(metallicaNames, metallicaAges)
metallica

     metallicaNames metallicaAges
[1,] Lars           47
[2,] James          47
[3,] Kirk           48
[4,] Rob            46

In [32]:
class(metallica)

[1] "matrix"

In [33]:
metallica = data.frame(metallicaNames, metallicaAges)

In [34]:
metallica

  metallicaNames metallicaAges
1 Lars           47
2 James          47
3 Kirk           48
4 Rob            46

In [35]:
class(metallica)

[1] "data.frame"

In [36]:
colnames(metallica) = c('Name', 'Age')

In [37]:
metallica

  Name  Age
1 Lars  47
2 James 47
3 Kirk  48
4 Rob   46

In [39]:
metallica$childAge = c(12, 12, 4, 6)

In [41]:
metallica$fatherhoodAge = metallica$Age - metallica$childAge
metallica

  Name  Age childAge fatherhoodAge
1 Lars  47  12       35
2 James 47  12       35
3 Kirk  48   4       44
4 Rob   46   6       40

# 3.9

In [10]:
lecturerData = read.delim('data/Lecturer Data.dat', header=TRUE)

In [12]:
lecturerPersonality = lecturerData[, c('friends', 'alcohol', 'neurotic')]

In [13]:
lecturerPersonality

   friends alcohol neurotic
1   5      10      10
2   2      15      17
3   0      20      14
4   4       5      13
5   1      30      21
6  10      25       7
7  12      20      13
8  15      16       9
9  12      17      14
10 17      18      13

In [21]:
job = c(rep(1, 5), rep(2, 5))
job = factor(job, levels = c(1, 2), labels = c('Lecturer', 'Student'))
job

 [1] Lecturer Lecturer Lecturer Lecturer Lecturer Student  Student  Student
 [9] Student  Student
Levels: Lecturer Student

In [22]:
job == 'Lecturer'

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

In [23]:
lecturerOnly = lecturerData[job=='Lecturer', ]

In [24]:
lecturerOnly

  name   birth_date job friends alcohol income neurotic
1 Ben    7/3/1977   1   5       10      20000  10
2 Martin 5/24/1969  1   2       15      40000  17
3 Andy   6/21/1973  1   0       20      35000  14
4 Paul   7/16/1970  1   4        5      22000  13
5 Graham 10/10/1949 1   1       30      50000  21

In [25]:
alcoholPersonality = lecturerData[lecturerData$alcohol > 10,
                                 c('friends', 'alcohol', 'neurotic')]

In [26]:
alcoholPersonality

   friends alcohol neurotic
2   2      15      17
3   0      20      14
5   1      30      21
6  10      25       7
7  12      20      13
8  15      16       9
9  12      17      14
10 17      18      13

In [38]:
lecturerOnly = subset(lecturerData, job == 1)

In [39]:
lecturerOnly

  name   birth_date job friends alcohol income neurotic
1 Ben    7/3/1977   1   5       10      20000  10
2 Martin 5/24/1969  1   2       15      40000  17
3 Andy   6/21/1973  1   0       20      35000  14
4 Paul   7/16/1970  1   4        5      22000  13
5 Graham 10/10/1949 1   1       30      50000  21

In [40]:
alcoholPersonality = subset(lecturerData, alcohol > 10,
                           select = c('friends', 'alcohol', 'neurotic'))

In [41]:
alcoholPersonality

   friends alcohol neurotic
2   2      15      17
3   0      20      14
5   1      30      21
6  10      25       7
7  12      20      13
8  15      16       9
9  12      17      14
10 17      18      13

In [42]:
alcoholPersonalityMatrix = as.matrix(alcoholPersonality)

In [43]:
alcoholPersonalityMatrix

   friends alcohol neurotic
2   2      15      17
3   0      20      14
5   1      30      21
6  10      25       7
7  12      20      13
8  15      16       9
9  12      17      14
10 17      18      13

In [50]:
satisfactionData = read.delim('data/Honeymoon Period.dat', header=TRUE)

In [56]:
satisfactionData

    Person Satisfaction_Base Satisfaction_6_Months Satisfaction_12_Months
1    1      6                 6                     5
2    2      7                 7                     8
3    3      4                 6                     2
4    4      6                 9                     4
5    5      6                 7                     6
6    6      5                10                     4
7    7      6                 6                     4
8    8      2                 5                     4
9    9     10                 9                     5
10  10     10                10                    10
11  11      8                 8                    10
12  12      6                10                     9
13  13      7                 8                     9
14  14      6                 7                     9
15  15      9                10                     8
16  16     10                10                     8
17  17      1                 2                     1
18  18      5                 6                     7
19  19      6                10                    10
20  20      5                 6                    NA
21  21      3                 7                     5
22  22      3                 4                     4
23  23      7                 6                     4
24  24      3                 4                     2
25  28      9                10                     8
26  29      8                10                     9
27  30      8                 7                     7
28  31      7                 7                     6
29  32     10                 8                    NA
30  33      7                 6                     5
⋮   ⋮      ⋮                 ⋮                     ⋮
86   94    10                10                    8
87   95     7                 9                    5
88   96     3                 3                    4
89   97    10                10                    5
90   98     6                 7                    4
91   99     6                 5                    4
92  100     8                 9                    7
93  101     6                 8                    9
94  102     7                 8                    5
95  103     9                 8                    7
96  104     7                 8                    4
97  105    10                10                    8
98  106    10                 4                    2
99  107     8                 8                    4
100 108     3                 4                    4
101 109     7                 6                    6
102 110     9                 7                    8
103 111     7                 8                    7
104 112     5                 3                    4
105 113     7                 4                    5
106 114     3                 2                    1
107 115     5                 5                    3
108 116     7                 9                    5
109 117     7                 6                    6
110 118     3                 4                    4
111 119     8                 4                    2
112 120     3                 6                    1
113 121     6                 6                    6
114 122     5                10                    2
115 123     5                 6                    2
    Satisfaction_18_Months Gender
1    2                     0
2    4                     1
3    2                     1
4    1                     0
5    6                     0
6    2                     1
7    2                     0
8   NA                     0
9    6                     0
10   9                     0
11   9                     0
12   9                     0
13   6                     1
14   5                     0
15   6                     1
16   6                     1
17  NA                     1
18   3                     0
19   6                     1
20  NA                     0
21   6                     0
22   2                     1
23   2                     0
24  NA                     0
25  NA                     1
26   7                     1
27   3                     0
28   3                     0
29  NA                     0
30   3                     1
⋮   ⋮                      ⋮
86   7                     1
87   5                     1
88   8                     0
89  NA                     1
90   1                     0
91  NA                     1
92   2                     1
93   3                     0
94  NA                     1
95   6                     1
96   3                     1
97   4                     0
98  NA                     0
99   5                     1
100  3                     1
101  3                     0
102  6                     0
103  8                     0
104 NA                     1
105  3                     0
106 NA                     1
107 NA                     1
108  2                     1
109  4                     1
110  1                     1
111  1                     1
112  7                     1
113  7                     1
114 NA                     1
115  1                     0

In [57]:
satisfactionStacked = stack(satisfactionData,
                           select = c('Satisfaction_Base',
                                     'Satisfaction_6_Months',
                                     'Satisfaction_12_Months',
                                     'Satisfaction_18_Months'))

In [61]:
satisfactionUnstacked = unstack(satisfactionStacked)

In [62]:
satisfactionUnstacked

    Satisfaction_Base Satisfaction_6_Months Satisfaction_12_Months
1    6                 6                     5
2    7                 7                     8
3    4                 6                     2
4    6                 9                     4
5    6                 7                     6
6    5                10                     4
7    6                 6                     4
8    2                 5                     4
9   10                 9                     5
10  10                10                    10
11   8                 8                    10
12   6                10                     9
13   7                 8                     9
14   6                 7                     9
15   9                10                     8
16  10                10                     8
17   1                 2                     1
18   5                 6                     7
19   6                10                    10
20   5                 6                    NA
21   3                 7                     5
22   3                 4                     4
23   7                 6                     4
24   3                 4                     2
25   9                10                     8
26   8                10                     9
27   8                 7                     7
28   7                 7                     6
29  10                 8                    NA
30   7                 6                     5
⋮   ⋮                 ⋮                     ⋮
86  10                10                    8
87   7                 9                    5
88   3                 3                    4
89  10                10                    5
90   6                 7                    4
91   6                 5                    4
92   8                 9                    7
93   6                 8                    9
94   7                 8                    5
95   9                 8                    7
96   7                 8                    4
97  10                10                    8
98  10                 4                    2
99   8                 8                    4
100  3                 4                    4
101  7                 6                    6
102  9                 7                    8
103  7                 8                    7
104  5                 3                    4
105  7                 4                    5
106  3                 2                    1
107  5                 5                    3
108  7                 9                    5
109  7                 6                    6
110  3                 4                    4
111  8                 4                    2
112  3                 6                    1
113  6                 6                    6
114  5                10                    2
115  5                 6                    2
    Satisfaction_18_Months
1    2
2    4
3    2
4    1
5    6
6    2
7    2
8   NA
9    6
10   9
11   9
12   9
13   6
14   5
15   6
16   6
17  NA
18   3
19   6
20  NA
21   6
22   2
23   2
24  NA
25  NA
26   7
27   3
28   3
29  NA
30   3
⋮   ⋮
86   7
87   5
88   8
89  NA
90   1
91  NA
92   2
93   3
94  NA
95   6
96   3
97   4
98  NA
99   5
100  3
101  3
102  6
103  8
104 NA
105  3
106 NA
107 NA
108  2
109  4
110  1
111  1
112  7
113  7
114 NA
115  1

In [63]:
install.packages('reshape')

Installing package into ‘/home/khanhnd/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)
also installing the dependency ‘plyr’

In [64]:
library(reshape)

In [65]:
restructuredData = melt(satisfactionData,
                       id = c('Person', 'Gender'),
                       measured = c('Satisfaction_Base',
                                     'Satisfaction_6_Months',
                                     'Satisfaction_12_Months',
                                     'Satisfaction_18_Months'))

In [67]:
restructuredData

    Person Gender variable               value
1    1     0      Satisfaction_Base       6
2    2     1      Satisfaction_Base       7
3    3     1      Satisfaction_Base       4
4    4     0      Satisfaction_Base       6
5    5     0      Satisfaction_Base       6
6    6     1      Satisfaction_Base       5
7    7     0      Satisfaction_Base       6
8    8     0      Satisfaction_Base       2
9    9     0      Satisfaction_Base      10
10  10     0      Satisfaction_Base      10
11  11     0      Satisfaction_Base       8
12  12     0      Satisfaction_Base       6
13  13     1      Satisfaction_Base       7
14  14     0      Satisfaction_Base       6
15  15     1      Satisfaction_Base       9
16  16     1      Satisfaction_Base      10
17  17     1      Satisfaction_Base       1
18  18     0      Satisfaction_Base       5
19  19     1      Satisfaction_Base       6
20  20     0      Satisfaction_Base       5
21  21     0      Satisfaction_Base       3
22  22     1      Satisfaction_Base       3
23  23     0      Satisfaction_Base       7
24  24     0      Satisfaction_Base       3
25  28     1      Satisfaction_Base       9
26  29     1      Satisfaction_Base       8
27  30     0      Satisfaction_Base       8
28  31     0      Satisfaction_Base       7
29  32     0      Satisfaction_Base      10
30  33     1      Satisfaction_Base       7
⋮   ⋮      ⋮      ⋮                      ⋮
431  94    1      Satisfaction_18_Months  7
432  95    1      Satisfaction_18_Months  5
433  96    0      Satisfaction_18_Months  8
434  97    1      Satisfaction_18_Months NA
435  98    0      Satisfaction_18_Months  1
436  99    1      Satisfaction_18_Months NA
437 100    1      Satisfaction_18_Months  2
438 101    0      Satisfaction_18_Months  3
439 102    1      Satisfaction_18_Months NA
440 103    1      Satisfaction_18_Months  6
441 104    1      Satisfaction_18_Months  3
442 105    0      Satisfaction_18_Months  4
443 106    0      Satisfaction_18_Months NA
444 107    1      Satisfaction_18_Months  5
445 108    1      Satisfaction_18_Months  3
446 109    0      Satisfaction_18_Months  3
447 110    0      Satisfaction_18_Months  6
448 111    0      Satisfaction_18_Months  8
449 112    1      Satisfaction_18_Months NA
450 113    0      Satisfaction_18_Months  3
451 114    1      Satisfaction_18_Months NA
452 115    1      Satisfaction_18_Months NA
453 116    1      Satisfaction_18_Months  2
454 117    1      Satisfaction_18_Months  4
455 118    1      Satisfaction_18_Months  1
456 119    1      Satisfaction_18_Months  1
457 120    1      Satisfaction_18_Months  7
458 121    1      Satisfaction_18_Months  7
459 122    1      Satisfaction_18_Months NA
460 123    0      Satisfaction_18_Months  1

In [69]:
wideData = cast(restructuredData, Person + Gender ~ variable, value = 'value')

In [70]:
wideData

    Person Gender Satisfaction_Base Satisfaction_6_Months
1    1     0       6                 6
2    2     1       7                 7
3    3     1       4                 6
4    4     0       6                 9
5    5     0       6                 7
6    6     1       5                10
7    7     0       6                 6
8    8     0       2                 5
9    9     0      10                 9
10  10     0      10                10
11  11     0       8                 8
12  12     0       6                10
13  13     1       7                 8
14  14     0       6                 7
15  15     1       9                10
16  16     1      10                10
17  17     1       1                 2
18  18     0       5                 6
19  19     1       6                10
20  20     0       5                 6
21  21     0       3                 7
22  22     1       3                 4
23  23     0       7                 6
24  24     0       3                 4
25  28     1       9                10
26  29     1       8                10
27  30     0       8                 7
28  31     0       7                 7
29  32     0      10                 8
30  33     1       7                 6
⋮   ⋮      ⋮      ⋮                 ⋮
86   94    1      10                10
87   95    1       7                 9
88   96    0       3                 3
89   97    1      10                10
90   98    0       6                 7
91   99    1       6                 5
92  100    1       8                 9
93  101    0       6                 8
94  102    1       7                 8
95  103    1       9                 8
96  104    1       7                 8
97  105    0      10                10
98  106    0      10                 4
99  107    1       8                 8
100 108    1       3                 4
101 109    0       7                 6
102 110    0       9                 7
103 111    0       7                 8
104 112    1       5                 3
105 113    0       7                 4
106 114    1       3                 2
107 115    1       5                 5
108 116    1       7                 9
109 117    1       7                 6
110 118    1       3                 4
111 119    1       8                 4
112 120    1       3                 6
113 121    1       6                 6
114 122    1       5                10
115 123    0       5                 6
    Satisfaction_12_Months Satisfaction_18_Months
1    5                      2
2    8                      4
3    2                      2
4    4                      1
5    6                      6
6    4                      2
7    4                      2
8    4                     NA
9    5                      6
10  10                      9
11  10                      9
12   9                      9
13   9                      6
14   9                      5
15   8                      6
16   8                      6
17   1                     NA
18   7                      3
19  10                      6
20  NA                     NA
21   5                      6
22   4                      2
23   4                      2
24   2                     NA
25   8                     NA
26   9                      7
27   7                      3
28   6                      3
29  NA                     NA
30   5                      3
⋮   ⋮                      ⋮
86  8                       7
87  5                       5
88  4                       8
89  5                      NA
90  4                       1
91  4                      NA
92  7                       2
93  9                       3
94  5                      NA
95  7                       6
96  4                       3
97  8                       4
98  2                      NA
99  4                       5
100 4                       3
101 6                       3
102 8                       6
103 7                       8
104 4                      NA
105 5                       3
106 1                      NA
107 3                      NA
108 5                       2
109 6                       4
110 4                       1
111 2                       1
112 1                       7
113 6                       7
114 2                      NA
115 2                       1